body {
    font-family: Monaco, sans-serif;
    background-color: white;
}

#forum {
    margin: auto;
    height: 400px;
}

form {
    margin: auto;
    width: 550px;
    margin-top: 35px;
    padding: 30px 0;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 5px #b5b5b5;
}

input {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 300px;
    border-radius: 8px;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    text-indent: 8px;
    outline: none;
}

img {
    display: block;


}

button {
    margin: auto;
    display: block;
    background-color: green;
    border: none;
    border-bottom: 2px solid #dbdbdb;
    color: black;
    padding: 10px 54px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: green;
}

h1 {
    color: #414141;
    text-align: left;
    text-shadow: 1px 1px #dbdbdb;

}

h6 {
    color: red;
    text-align: center;
}

a {
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    margin: auto;
    color: #414141;
    text-align: center;
}

#return {
    padding: 0px;
    text-shadow: 1px 1px #dbdbdb;
    text-font: 2px;
}

#error {
    text-align: center;
    color: red;
    font-size: 14px
}

#blank {
    color: red;
    font-size: 14px
}