@media only screen and (max-width: 700px) {
    body {
        font-family: Monaco, sans-serif;
        background-color: #defffe;
        font-size: 10px;
    }
}

@media only screen and (min-width: 701px) {

    body {
        font-family: Monaco, sans-serif;
        background-color: #defffe;
    }
}

#filter-fixed {
    position: fixed;
    top: 11em;
    left: 1em;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 80%;
}

th, td {
    background-color: white;
}

th {
    font-size: 20px;
    font-family: "Arial Hebrew";
    font-weight: bold;
}

tr {
    background-color: white;
    height: 40px;
}


.button {
    display: inline-block;
    border-radius: 8px;
    background-color: #43b6ce;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: -1px;
    left: 2px;
    transition: 0.5s;
}


.button:hover span {
    padding-left: 15px;
}

.button:hover span:after {
    opacity: 1;
    left: 0;
}

.button2 {
    background-color: goldenrod;
}

.button3 {
    background-color: limegreen;
    padding: 15px 46px;
}

.button4 {
    background-color: deepskyblue;
}

.button5 {
    background-color: orangered;
}

#update {
    height: 35px;
    width: 125px;
    font-size: 15px;
    display: inline-flex;
    justify-content: center; /* Center text horizontally and vertically */
    align-items: center;
    text-align: center;
}

.textbox {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    height: 35px;
    width: 125px;
    border-radius: 8px;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    text-indent: 8px;
    outline: none;
}

h1 {
    margin-top: 0.00001em;
    font-size: 45px;
    color: #414141;
    text-align: center;
    text-shadow: 1px 1px #dbdbdb;
    margin-bottom: 0.00001em;
}

h2 {
    margin-top: 0.00001em;
    font-family: 'Brush Script MT', cursive;
    color: #414141;
    text-align: center;
    text-shadow: 1px 1px #dbdbdb;
}


h6 {
    color: red;
    text-align: center;
}

a {
    width: 15%;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #414141;
}

hr {
    height: 3px;
    border-width: 0px;
    width: 30%;
    background-color: #3e152b;
}

img {
    border-radius: 9px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#central {
    text-align: center;
}

#shade tr:nth-child(even) {
    background-color: white;
}

#shade tr:hover {
    background-color: coral;
}

a:hover {
    background-color: #defffe;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


#new1 {
    width: 25%;
    background-color: #43b6ce;
    border-radius: 4px;
    color: white;
    border: white;
}

#new1:active {
    color: white;
    background-color: #43b6ce;
    box-shadow: 0 -1px #666;
    transform: translateY(2px);
    border: white;
}

#new2 {
    width: 25%;
    background-color: #43b6ce;
    border-radius: 4px;
    color: white;
    border: white;
}

#new2:active {
    color: white;
    background-color: #43b6ce;
    box-shadow: 0 -1px #666;
    transform: translateY(2px);
    border: white;
}